ops/n8n/workflows/w12_w-12_self-healing_retry.json
{
  "name": "W-12: Self-Healing Retry",
  "nodes": [
    {
      "id": "w12-err",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {}
    },
    {
      "id": "w12-set",
      "name": "Set Retry Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        300
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "retryWorkflowId",
              "value": "={{ $json.workflow.id }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "retryWorkflowName",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "errorMsg",
              "value": "={{ $json.execution.error?.message || 'unknown' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "w12-wait1",
      "name": "Wait 30s (1)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        750,
        300
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": 30,
        "unit": "seconds"
      },
      "webhookId": "w12-wait1-webhook"
    },
    {
      "id": "w12-retry1",
      "name": "Retry 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678/api/v1/workflows/{{ $('Set Retry Context').item.json.retryWorkflowId }}/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "allowUnauthorizedCerts": false
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "i0rmMKi7llZ0GnTt",
          "name": "n8n API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "w12-if1",
      "name": "IF Retry 1 Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.error || ($json.code !== undefined && $json.code >= 400) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      }
    },
    {
      "id": "w12-wait2",
      "name": "Wait 30s (2)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1500,
        200
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": 30,
        "unit": "seconds"
      },
      "webhookId": "w12-wait2-webhook"
    },
    {
      "id": "w12-retry2",
      "name": "Retry 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678/api/v1/workflows/{{ $('Set Retry Context').item.json.retryWorkflowId }}/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "response": {}
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "i0rmMKi7llZ0GnTt",
          "name": "n8n API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "w12-if2",
      "name": "IF Retry 2 Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.error || ($json.code !== undefined && $json.code >= 400) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      }
    },
    {
      "id": "w12-wait3",
      "name": "Wait 30s (3)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2250,
        100
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": 30,
        "unit": "seconds"
      },
      "webhookId": "w12-wait3-webhook"
    },
    {
      "id": "w12-retry3",
      "name": "Retry 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678/api/v1/workflows/{{ $('Set Retry Context').item.json.retryWorkflowId }}/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "response": {}
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "i0rmMKi7llZ0GnTt",
          "name": "n8n API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "w12-if3",
      "name": "IF Retry 3 Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2750,
        100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.error || ($json.code !== undefined && $json.code >= 400) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      }
    },
    {
      "id": "w12-escalate",
      "name": "LINE Escalate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        0
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "language": "javaScript",
        "jsCode": "const { execSync } = require('child_process');\ntry {\n  execSync(`osascript -e 'tell application \"Messages\"' -e 'set s to 1st service whose service type = iMessage' -e 'set b to buddy \"s.akarin@icloud.com\" of s' -e 'send \"EA-CTO WORKFLOW FAILURE after 3 retries \u2014 escalation required. Check W-12 in n8n\" to b' -e 'end tell'`);\n} catch(e) { /* iMessage non-fatal */ }\nreturn $input.all();"
      }
    },
    {
      "id": "w12-ok3",
      "name": "OK after Retry 3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3000,
        200
      ],
      "parameters": {}
    },
    {
      "id": "w12-ok2",
      "name": "OK after Retry 2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2250,
        350
      ],
      "parameters": {}
    },
    {
      "id": "w12-ok1",
      "name": "OK after Retry 1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        450
      ],
      "parameters": {}
    },
    {
      "id": "w12-pg",
      "name": "Log to Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3300,
        200
      ],
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "ea_workflow_log"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "workflow_id",
              "value": "W-12"
            },
            {
              "column": "workflow_name",
              "value": "W-12: Self-Healing Retry"
            },
            {
              "column": "execution_id",
              "value": "={{ $execution.id }}"
            },
            {
              "column": "status",
              "value": "={{ $('IF Retry 3 Failed').item ? ($('IF Retry 3 Failed').item.json.error ? 'escalated' : 'retried') : 'retried' }}"
            },
            {
              "column": "payload",
              "value": "={{ JSON.stringify({ retryWorkflowId: $('Set Retry Context').item.json.retryWorkflowId, retryWorkflowName: $('Set Retry Context').item.json.retryWorkflowName, errorMsg: $('Set Retry Context').item.json.errorMsg }) }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "JAcUp4C9hXXmw1ix",
          "name": "EA Postgres"
        }
      }
    },
    {
      "id": "w12-line",
      "name": "LINE Final Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3550,
        200
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "language": "javaScript",
        "jsCode": "const { execSync } = require('child_process');\ntry {\n  execSync(`osascript -e 'display notification \"Self-healing sequence complete\" with title \"EA-CTO\" subtitle \"W-12: Self-Healing\" sound name \"Default\"'`);\n} catch(e) { /* notification non-fatal */ }\nreturn $input.all();"
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Set Retry Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Retry Context": {
      "main": [
        [
          {
            "node": "Wait 30s (1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s (1)": {
      "main": [
        [
          {
            "node": "Retry 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry 1": {
      "main": [
        [
          {
            "node": "IF Retry 1 Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Retry 1 Failed": {
      "main": [
        [
          {
            "node": "Wait 30s (2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OK after Retry 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s (2)": {
      "main": [
        [
          {
            "node": "Retry 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry 2": {
      "main": [
        [
          {
            "node": "IF Retry 2 Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Retry 2 Failed": {
      "main": [
        [
          {
            "node": "Wait 30s (3)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OK after Retry 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s (3)": {
      "main": [
        [
          {
            "node": "Retry 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry 3": {
      "main": [
        [
          {
            "node": "IF Retry 3 Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Retry 3 Failed": {
      "main": [
        [
          {
            "node": "LINE Escalate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OK after Retry 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE Escalate": {
      "main": [
        [
          {
            "node": "Log to Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OK after Retry 3": {
      "main": [
        [
          {
            "node": "Log to Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OK after Retry 2": {
      "main": [
        [
          {
            "node": "Log to Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OK after Retry 1": {
      "main": [
        [
          {
            "node": "Log to Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Postgres": {
      "main": [
        [
          {
            "node": "LINE Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": true
}